body {
    background-color: #2D3250;
    font-family: "Montserrat", system-ui, sans-serif;
    color: #7077A1;
    font-size: medium;
}

th {
    background-color: #7077A1;
    color: #2D3250;
    padding: .2rem .7rem;
}

th:last-child {
    border-radius: 0 .3rem .3rem 0;
}

th:first-child {
    border-radius: .3rem 0 0 .3rem;
}

td {
    font-weight: normal;
    color: #7077A1;
    padding: .2rem .7rem;
    transition: all .2s ease-out;
}

table tr:hover td {
    color: #F6B17A;
    transition: all .2s ease-out;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: .1rem solid;
    padding: 0;
    border-color: inherit;
}

.plain-card > hr {
    margin: 0 -0.9rem;
}

.accented-card > hr {
    margin: 1rem -0.9rem;
}

.form-help {
    margin-top: -.8rem;
    margin-bottom: .7rem;
    min-height: .3rem;
}

.accent > a {
    color: #7077A1;
    font-weight: bold;
    transition: all .2s ease-out;

}

.accent > a:hover {
    color: #F6B17A;
    text-decoration: underline;
    transition: all .2s ease-out;

}

.plain-card {
    border: #7077A1 solid .1rem;
    border-radius: .8rem;
    padding: .9rem;
    width: fit-content;
}

.plain-card-hoverable {
    border: #7077A1 solid .1rem;
    border-radius: .8rem;
    padding: .9rem;
    width: fit-content;
    transition: all .2s ease-out;

}

.plain-card-hoverable:hover {
    border: #F6B17A solid .1rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
    box-shadow: #424769 0 .5rem 1rem;
}

.hidden-link {
    text-decoration: none;
    color: #7077A1;
}

h1 {
    color: #F6B17A;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

h3 {
    font-weight: bolder;
    font-size: large;
    color: #F6B17A;
}

.accented-card {
    border: #F6B17A solid .1rem;
    border-radius: .8rem;
    padding: .9rem;
    width: fit-content;
    box-shadow: #424769 0 .5rem 2rem;
}

.accent {
    color: #F6B17A;
}

.centered-h {
    display: flex;
    justify-content: center;
    width: 100%;
}

.centered-v {
    display: flex;
    align-items: center;
    height: 100vh
}

.btn-submit {
    border: #F6B17A solid .1rem;
    border-radius: .3rem;
    padding: .3rem;
    color: #F6B17A;
    background: none;
    font-weight: bold;
    font-family: "Montserrat", system-ui, sans-serif;
    font-size: medium;
    transition: all .2s ease-out;
    text-decoration: none;
    cursor: pointer;
}

.btn-submit:hover {
    color: #2D3250;
    background: #F6B17A;
    transition: all .2s ease-in-out;
    cursor: pointer;
}


.form-field {
    border: #7077A1 solid .1rem;
    border-radius: .3rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    transition: all .2s ease-in-out;

}

.form-field > .btn-submit:last-child {
    border-radius: 0 .3rem .3rem 0;
    margin: -.1rem;
    border: #F6B17A solid .1rem;
    padding: .3rem;
    background-color: #F6B17A;
    color: #2D3250;
    transition: all .2s ease-in-out;

}

.form-field > .btn-submit:last-child:hover {
    background-color: #7077A1;
    border-color: #7077A1;
    color: #F6B17A;
    transition: all .2s ease-in-out;

}

.form-label {
    padding: .3rem;
    border-right: #7077A1 solid .1rem;
    background-color: #7077A1;
    color: #2D3250;
    font-weight: bolder;
}

.form-input {
    font-family: "Montserrat", system-ui, sans-serif;
    font-size: medium;
    background: none;
    border: none;
    width: auto;
    flex-grow: 1;
    color: #7077A1;
    padding-left: .5rem;
    transition: all .2s ease-in-out;
}

.form-input:last-child {
    border-radius: 0 .3rem .3rem 0;
}

.form-input:focus {
    color: #F6B17A;
    outline: none;
    transition: all .2s ease-in-out;
}

.form-field:focus-within {
    outline: #F6B17A solid .2rem;
    transition: all .2s ease-in-out;
}

header {
    border-bottom: #7077A1 solid .1rem;
    padding: 1rem 0;
    font-size: large;
    margin-bottom: 1rem;
}

header > a {
    color: #F6B17A;
    padding: .3rem 2rem;
    transition: all .2s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}

header > a:hover {
    color: #2D3250;
    background-color: #F6B17A;
    border-radius: .3rem;
    transition: all .2s ease-in-out;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spread-evenly {
    justify-content: space-around;
}

.spread-between {
    justify-content: space-between;
}