{% extends 'extended_base.html' %}
{% block body %}
    <div class="centered-h" style="flex-direction: column; align-items: center">
        <div class="accented-card" style="width: 90%; margin-bottom: 1rem">
            <div class="flex-row spread-between">
                <div style="margin-right: auto">
                    <h3>Бизнес-процессы - {{ processes }}</h3>
                </div>
                <div style="margin: auto 0">
                    <a class="btn-submit" href="{% url 'processes_main' %}">Подробнее</a>
                </div>
            </div>
            
        </div>
        <div class="accented-card" style="width: 90%; margin-bottom: 1rem">
            <div class="flex-row spread-between">
                <div style="margin-right: auto">
                    <h3>Детали - {{ parts }}</h3>
                </div>
                <div style="margin: auto 0">
                    <a class="btn-submit" href="{% url 'parts' %}">Подробнее</a>
                </div>
            </div>

        </div>
        <div class="accented-card" style="width: 90%">
            <div class="flex-row spread-between">
                <div style="margin-right: auto">
                    <h3>Роботы - {{ bots }}</h3>
                </div>
                <div style="margin: auto 0">
                    <a class="btn-submit" href="{% url 'bots' %}">Подробнее</a>
                </div>
            </div>

        </div>
        
    </div>
{% endblock body %}