{% extends 'base.html' %}

{% block content %}
	<a href="{% url 'processes_main' %}" class="btn-submit">К бизнес-процессам</a>
    <div class="centered-h">
        <div style="display: flex; flex-direction: column; align-items: center">
            <h1>Создать новый бизнес-процесс</h1>
            <div class="accented-card">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-field">
                        <label class="form-label" for="id-name">
                            Название робота
                        </label>
                        <input type="text" required class="form-input" name="name" id="id-name">
                        <button type="submit" class="btn-submit">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}